# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserdata
*.xcworkspace
xcuserdata/
*.xcscmblueprint
*.xccheckout

# XcodeGen
butler.xcodeproj/

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.pins

# AI Models
*.gguf
*.bin
Models/

# Logs
*.log

*.profraw
*.gcda
*.gcno


work.md
